In [29]:
# Import Modules

import requests
import json
import pandas as pd

from config import username, password

from sqlalchemy import create_engine
engine=create_engine(f"postgresql://{username}:{password}@localhost:5432/employees")
connection=engine.connect()

In [2]:
##################################################
# Extracting Data for First Table: countries

# Get API url strings
url_cn = 'http://api.worldbank.org/v2/country/cn?format=json'
url_us = 'http://api.worldbank.org/v2/country/us?format=json'
url_ru = 'http://api.worldbank.org/v2/country/ru?format=json'

In [3]:
# Check API

print(requests.get(url_cn))
print('----------------------------')
print(requests.get(url_cn).json())

<Response [200]>
----------------------------
[{'page': 1, 'pages': 1, 'per_page': '50', 'total': 1}, [{'id': 'CHN', 'iso2Code': 'CN', 'name': 'China', 'region': {'id': 'EAS', 'iso2code': 'Z4', 'value': 'East Asia & Pacific'}, 'adminregion': {'id': 'EAP', 'iso2code': '4E', 'value': 'East Asia & Pacific (excluding high income)'}, 'incomeLevel': {'id': 'UMC', 'iso2code': 'XT', 'value': 'Upper middle income'}, 'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'}, 'capitalCity': 'Beijing', 'longitude': '116.286', 'latitude': '40.0495'}]]

In [4]:
# Extracting data for all three countries

response_cn = requests.get(url_cn).json()
response_us = requests.get(url_us).json()
response_ru = requests.get(url_ru).json()

In [5]:
# Transforming data by creating lists to zip into a DF

country_name = []
country_id = []

#append country id's
country_name.append(response_us[1][0]['name'])
country_name.append(response_cn[1][0]['name'])
country_name.append(response_ru[1][0]['name'])

# append country names
country_id.append(response_us[1][0]['id'])
country_id.append(response_cn[1][0]['id'])
country_id.append(response_ru[1][0]['id'])

In [6]:
# Transforming data by zipping the lists, creating the DF using pandas...
# ... & renaming the columns to be ready to load into new sequel DB

dict_c = zip(country_id, country_name)
df = pd.DataFrame(dict_c)
countries = df.rename(columns={0: 'country_code', 1: 'country_name'})
countries

### COUNTRY TABLE READY ###

  country_code        country_name
0          USA       United States
1          CHN               China
2          RUS  Russian Federation

In [7]:
##################################################
# Extracting & Transforming Data for Second Table: indicators

Indicators_df = pd.read_csv('./data/indicators.csv')
Indicators_df.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [8]:
# Transforming data by dropping unwanted columns...

Ind1 =Indicators_df.drop(['CountryName', 'CountryCode', 'Year', 'Value'], axis=1)
Ind1

                                             IndicatorName      IndicatorCode
0        Adolescent fertility rate (births per 1,000 wo...        SP.ADO.TFRT
1        Age dependency ratio (% of working-age populat...        SP.POP.DPND
2        Age dependency ratio, old (% of working-age po...     SP.POP.DPND.OL
3        Age dependency ratio, young (% of working-age ...     SP.POP.DPND.YG
4              Arms exports (SIPRI trend indicator values)     MS.MIL.XPRT.KD
...                                                    ...                ...
5656453          Time required to register property (days)        IC.PRP.DURS
5656454           Time required to start a business (days)        IC.REG.DURS
5656455              Time to prepare and pay taxes (hours)        IC.TAX.DURS
5656456                 Time to resolve insolvency (years)        IC.ISV.DURS
5656457           Total tax rate (% of commercial profits)  IC.TAX.TOTL.CP.ZS

[5656458 rows x 2 columns]

In [9]:
# ...& Dropping duplicate values

Ind2 = Ind1.drop_duplicates(subset='IndicatorCode', keep="first")
ind_df = Ind2.rename(columns={'IndicatorName':'indicator_name',
                             'IndicatorCode': 'indicator_code'})
ind_df

### INDICATOR TABLE READY ###

                                            indicator_name     indicator_code
0        Adolescent fertility rate (births per 1,000 wo...        SP.ADO.TFRT
1        Age dependency ratio (% of working-age populat...        SP.POP.DPND
2        Age dependency ratio, old (% of working-age po...     SP.POP.DPND.OL
3        Age dependency ratio, young (% of working-age ...     SP.POP.DPND.YG
4              Arms exports (SIPRI trend indicator values)     MS.MIL.XPRT.KD
...                                                    ...                ...
5547405  Present value of external debt (% of exports o...  DT.DOD.PVLX.EX.ZS
5641696                           Bird species, threatened     EN.BIR.THRD.NO
5641702                           Fish species, threatened     EN.FSH.THRD.NO
5641712                         Mammal species, threatened     EN.MAM.THRD.NO
5641723                 Plant species (higher), threatened     EN.HPT.THRD.NO

[1344 rows x 2 columns]

In [27]:
##################################################
# Transforming data from CSV file for first VALUE table, DATES (1960-2015)

# Performing loc to isolate RU, CN, US rows
reset_ind = Indicators_df.set_index('CountryName')
us_ru_cn_df = reset_ind.loc[['China', 'United States', 'Russian Federation'],:]

# Dropping IndicatorName column
value_table = pd.DataFrame(us_ru_cn_df, columns=['CountryCode', 'IndicatorCode', 'Value', 'Year'])
value_table= value_table.dropna()
value_table

                   CountryCode      IndicatorCode       Value  Year
CountryName
China                      CHN        SP.ADO.TFRT   68.033200  1960
China                      CHN        SP.POP.DPND   77.322072  1960
China                      CHN     SP.POP.DPND.OL    6.472535  1960
China                      CHN     SP.POP.DPND.YG   70.849537  1960
China                      CHN     NV.AGR.TOTL.ZS   23.383665  1960
...                        ...                ...         ...   ...
Russian Federation         RUS        IC.PRP.DURS   15.000000  2015
Russian Federation         RUS        IC.REG.DURS   10.500000  2015
Russian Federation         RUS        IC.TAX.DURS  168.000000  2015
Russian Federation         RUS        IC.ISV.DURS    2.000000  2015
Russian Federation         RUS  IC.TAX.TOTL.CP.ZS   47.000000  2015

[71267 rows x 4 columns]

In [11]:
value_table_reset = value_table.reset_index()
value_table_reset

              CountryName CountryCode      IndicatorCode       Value  Year
0                   China         CHN        SP.ADO.TFRT   68.033200  1960
1                   China         CHN        SP.POP.DPND   77.322072  1960
2                   China         CHN     SP.POP.DPND.OL    6.472535  1960
3                   China         CHN     SP.POP.DPND.YG   70.849537  1960
4                   China         CHN     NV.AGR.TOTL.ZS   23.383665  1960
...                   ...         ...                ...         ...   ...
71262  Russian Federation         RUS        IC.PRP.DURS   15.000000  2015
71263  Russian Federation         RUS        IC.REG.DURS   10.500000  2015
71264  Russian Federation         RUS        IC.TAX.DURS  168.000000  2015
71265  Russian Federation         RUS        IC.ISV.DURS    2.000000  2015
71266  Russian Federation         RUS  IC.TAX.TOTL.CP.ZS   47.000000  2015

[71267 rows x 5 columns]

In [12]:
value_csv_df = value_table_reset.rename(columns={'CountryName': 'country_name',
                                            'CountryCode': 'country_code',
                                            'IndicatorCode': 'indicator_code',
                                            'Value': 'value',
                                            'Year': 'year'})
value_csv_df

             country_name country_code     indicator_code       value  year
0                   China          CHN        SP.ADO.TFRT   68.033200  1960
1                   China          CHN        SP.POP.DPND   77.322072  1960
2                   China          CHN     SP.POP.DPND.OL    6.472535  1960
3                   China          CHN     SP.POP.DPND.YG   70.849537  1960
4                   China          CHN     NV.AGR.TOTL.ZS   23.383665  1960
...                   ...          ...                ...         ...   ...
71262  Russian Federation          RUS        IC.PRP.DURS   15.000000  2015
71263  Russian Federation          RUS        IC.REG.DURS   10.500000  2015
71264  Russian Federation          RUS        IC.TAX.DURS  168.000000  2015
71265  Russian Federation          RUS        IC.ISV.DURS    2.000000  2015
71266  Russian Federation          RUS  IC.TAX.TOTL.CP.ZS   47.000000  2015

[71267 rows x 5 columns]

In [13]:
##################################################
# Getting data for second VALUE table, DATEs (2016-2019)

# Importing new modules for API extraction

from bs4 import BeautifulSoup
import xml.etree.ElementTree as ET

In [14]:
# Creating new variables

all_response = []
date = '2016:2019'

In [15]:
# Getting the indicator url for extraction

indicator_url = "https://data.worldbank.org/indicator"

In [16]:
# Extracting using Requests & Beautiful Soup

response = requests.get(indicator_url)
soup = BeautifulSoup(response.text, 'html.parser')
results = soup.find_all('li')

In [17]:
# Looping to get indicators

indicator_list = []
for result in results:

    try:
        indicator = result.a["href"]
        
        if "view=chart" in indicator:
            print(indicator)
            indicator_list.append(indicator)
            
    except AttributeError as e:
        print(e)

/indicator/AG.LND.IRIG.AG.ZS?view=chart
/indicator/AG.LND.AGRI.ZS?view=chart
/indicator/AG.LND.TRAC.ZS?view=chart
/indicator/NV.AGR.TOTL.ZS?view=chart
/indicator/AG.LND.ARBL.ZS?view=chart
/indicator/AG.LND.ARBL.HA.PC?view=chart
/indicator/AG.YLD.CREL.KG?view=chart
/indicator/AG.PRD.CROP.XD?view=chart
/indicator/SL.AGR.EMPL.FE.ZS?view=chart
/indicator/SL.AGR.EMPL.MA.ZS?view=chart
/indicator/AG.CON.FERT.ZS?view=chart
/indicator/AG.PRD.FOOD.XD?view=chart
/indicator/AG.LND.FRST.ZS?view=chart
/indicator/AG.LND.FRST.K2?view=chart
/indicator/AG.LND.TOTL.K2?view=chart
/indicator/AG.LND.CREL.HA?view=chart
/indicator/AG.PRD.LVSK.XD?view=chart
/indicator/AG.LND.CROP.ZS?view=chart
/indicator/SP.RUR.TOTL?view=chart
/indicator/SP.RUR.TOTL.ZS?view=chart
/indicator/SI.POV.RUGP?view=chart
/indicator/SI.POV.RUHC?view=chart
/indicator/AG.SRF.TOTL.K2?view=chart
/indicator/BX.GRT.EXTA.CD.WD?view=chart
/indicator/SH.TBS.INCD?view=chart
/indicator/SI.DST.FRST.20?view=chart
/indicator/SH.STA.MMRT?view=chart
/indicator/SH.DYN.MORT?view=chart
/indicator/DT.ODA.ODAT.GN.ZS?view=chart
/indicator/DT.ODA.ODAT.XP.ZS?view=chart
/indicator/DT.ODA.ODAT.GI.ZS?view=chart
/indicator/DT.ODA.ODAT.MP.ZS?view=chart
/indicator/DT.ODA.ODAT.PC.ZS?view=chart
/indicator/SM.POP.NETM?view=chart
/indicator/DT.ODA.ODAT.CD?view=chart
/indicator/SI.POV.DDAY?view=chart
/indicator/SH.STA.ANVC.ZS?view=chart
/indicator/SH.DYN.AIDS.ZS?view=chart
/indicator/SH.STA.STNT.ZS?view=chart
/indicator/SE.PRM.CMPT.ZS?view=chart
/indicator/SE.ENR.PRSC.FM.ZS?view=chart
/indicator/BX.GRT.TECH.CD.WD?view=chart
/indicator/EG.ELC.ACCS.ZS?view=chart
/indicator/AG.LND.IRIG.AG.ZS?view=chart
/indicator/AG.LND.AGRI.ZS?view=chart
/indicator/NV.AGR.TOTL.ZS?view=chart
/indicator/ER.H2O.FWTL.ZS?view=chart
/indicator/ER.H2O.FWTL.K3?view=chart
/indicator/AG.LND.ARBL.ZS?view=chart
/indicator/EN.ATM.CO2E.KT?view=chart
/indicator/EN.ATM.CO2E.PC?view=chart
/indicator/IQ.CPA.PUBS.XQ?view=chart
/indicator/AG.YLD.CREL.KG?view=chart
/indicator/IC.BUS.EASE.XQ?view=chart
/indicator/EG.USE.ELEC.KH.PC?view=chart
/indicator/EG.USE.PCAP.KG.OE?view=chart
/indicator/AG.LND.FRST.ZS?view=chart
/indicator/AG.LND.FRST.K2?view=chart
/indicator/AG.LND.EL5M.ZS?view=chart
/indicator/EN.ATM.METH.KT.CE?view=chart
/indicator/SH.DYN.MORT?view=chart
/indicator/EN.ATM.NOXE.KT.CE?view=chart
/indicator/SP.POP.GROW?view=chart
/indicator/EN.URB.MCTY.TL.ZS?view=chart
/indicator/EN.POP.EL5M.ZS?view=chart
/indicator/SP.POP.TOTL?view=chart
/indicator/SI.POV.DDAY?view=chart
/indicator/SH.STA.MALN.ZS?view=chart
/indicator/SE.PRM.CMPT.ZS?view=chart
/indicator/EG.ELC.RNEW.ZS?view=chart
/indicator/EG.FEC.RNEW.ZS?view=chart
/indicator/SE.ENR.PRSC.FM.ZS?view=chart
/indicator/ER.PTD.TOTL.ZS?view=chart
/indicator/EN.ATM.GHGT.KT.CE?view=chart
/indicator/SP.URB.TOTL?view=chart
/indicator/SP.URB.TOTL.IN.ZS?view=chart
/indicator/NY.ADJ.SVNG.GN.ZS?view=chart
/indicator/NV.AGR.TOTL.ZS?view=chart
/indicator/GC.DOD.TOTL.GD.ZS?view=chart
/indicator/BM.GSR.ROYL.CD?view=chart
/indicator/BX.GSR.ROYL.CD?view=chart
/indicator/BN.CAB.XOKA.CD?view=chart
/indicator/GC.XPN.TOTL.GD.ZS?view=chart
/indicator/NE.EXP.GNFS.ZS?view=chart
/indicator/DT.DOD.DECT.GN.ZS?view=chart
/indicator/DT.DOD.DECT.CD?view=chart
/indicator/BX.KLT.DINV.CD.WD?view=chart
/indicator/NY.GDP.MKTP.CD?view=chart
/indicator/NY.GDP.MKTP.KD.ZG?view=chart
/indicator/NY.GDP.PCAP.CD?view=chart
/indicator/NY.GDP.PCAP.KD.ZG?view=chart
/indicator/NY.GDP.PCAP.PP.CD?view=chart
/indicator/NY.GNP.PCAP.CD?view=chart
/indicator/NY.GNP.PCAP.PP.CD?view=chart
/indicator/NY.GNP.ATLS.CD?view=chart
/indicator/NY.GNP.MKTP.PP.CD?view=chart
/indicator/BX.GRT.EXTA.CD.WD?view=chart
/indicator/NE.GDI.TOTL.ZS?view=chart
/indicator/NY.GNS.ICTR.ZS?view=chart
/indicator/NE.IMP.GNFS.ZS?view=chart
/indicator/NV.IND.TOTL.ZS?view=chart
/indicator/NY.GDP.DEFL.KD.ZG?view=chart
/indicator/FP.CPI.TOTL.ZG?view=chart
/indicator/DT.ODA.ODAT.GN.ZS?view=chart
/indicator/DT.ODA.ODAT.PC.ZS?view=chart
/indicator/DT.ODA.ODAT.CD?view=chart
/indicator/PA.NUS.PPP?view=chart
/indicator/BX.TRF.PWKR.CD.DT?view=chart
/indicator/PA.NUS.PPPC.RF?view=chart
/indicator/GC.REV.XGRT.GD.ZS?view=chart
/indicator/DT.DOD.DSTC.IR.ZS?view=chart
/indicator/BX.GRT.TECH.CD.WD?view=chart
/indicator/DT.TDS.DECT.EX.ZS?view=chart
/indicator/FI.RES.TOTL.CD?view=chart
/indicator/SE.PRM.UNER.FE?view=chart
/indicator/SE.PRM.UNER.MA?view=chart
/indicator/SE.XPD.TOTL.GD.ZS?view=chart
/indicator/SE.XPD.TOTL.GB.ZS?view=chart
/indicator/SE.XPD.PRIM.PC.ZS?view=chart
/indicator/SE.XPD.SECO.PC.ZS?view=chart
/indicator/SE.XPD.TERT.PC.ZS?view=chart
/indicator/SE.PRM.GINT.FE.ZS?view=chart
/indicator/SE.PRM.GINT.MA.ZS?view=chart
/indicator/SL.TLF.TOTL.FE.ZS?view=chart
/indicator/SL.TLF.TOTL.IN?view=chart
/indicator/SE.ADT.LITR.FE.ZS?view=chart
/indicator/SE.ADT.LITR.MA.ZS?view=chart
/indicator/SE.ADT.LITR.ZS?view=chart
/indicator/SE.ADT.1524.LT.FE.ZS?view=chart
/indicator/SE.ADT.1524.LT.MA.ZS?view=chart
/indicator/SE.ADT.1524.LT.ZS?view=chart
/indicator/SE.PRM.PRSL.FE.ZS?view=chart
/indicator/SE.PRM.PRSL.MA.ZS?view=chart
/indicator/SP.POP.0014.TO.ZS?view=chart
/indicator/SP.POP.1564.TO.ZS?view=chart
/indicator/SE.PRM.CMPT.FE.ZS?view=chart
/indicator/SE.PRM.CMPT.MA.ZS?view=chart
/indicator/SE.PRM.CMPT.ZS?view=chart
/indicator/SE.SEC.PROG.FE.ZS?view=chart
/indicator/SE.SEC.PROG.MA.ZS?view=chart
/indicator/SE.PRM.ENRL.TC.ZS?view=chart
/indicator/SE.PRM.REPT.FE.ZS?view=chart
/indicator/SE.PRM.REPT.MA.ZS?view=chart
/indicator/SE.PRE.ENRR?view=chart
/indicator/SE.PRM.ENRR?view=chart
/indicator/SE.PRM.NENR?view=chart
/indicator/SE.ENR.PRIM.FM.ZS?view=chart
/indicator/SE.ENR.PRSC.FM.ZS?view=chart
/indicator/SE.SEC.ENRR?view=chart
/indicator/SE.SEC.NENR?view=chart
/indicator/SE.TER.ENRR?view=chart
/indicator/SE.PRM.TCAQ.ZS?view=chart
/indicator/SL.UEM.TOTL.FE.ZS?view=chart
/indicator/SL.UEM.TOTL.MA.ZS?view=chart
/indicator/SL.UEM.TOTL.ZS?view=chart
/indicator/EG.ELC.ACCS.ZS?view=chart
/indicator/EG.USE.COMM.CL.ZS?view=chart
/indicator/EG.USE.ELEC.KH.PC?view=chart
/indicator/EG.IMP.CONS.ZS?view=chart
/indicator/EG.EGY.PRIM.PP.KD?view=chart
/indicator/EG.USE.PCAP.KG.OE?view=chart
/indicator/EG.USE.COMM.FO.ZS?view=chart
/indicator/TX.VAL.FUEL.ZS.UN?view=chart
/indicator/EG.GDP.PUSE.KO.PP.KD?view=chart
/indicator/IE.PPI.ENGY.CD?view=chart
/indicator/TX.VAL.MMTL.ZS.UN?view=chart
/indicator/EG.ELC.RNEW.ZS?view=chart
/indicator/EG.FEC.RNEW.ZS?view=chart
/indicator/IC.ELC.TIME?view=chart
/indicator/NY.GDP.TOTL.RT.ZS?view=chart
/indicator/EG.ELC.ACCS.ZS?view=chart
/indicator/NY.ADJ.SVNG.GN.ZS?view=chart
/indicator/AG.LND.AGRI.ZS?view=chart
/indicator/ER.H2O.FWTL.ZS?view=chart
/indicator/ER.H2O.FWTL.K3?view=chart
/indicator/AG.LND.ARBL.ZS?view=chart
/indicator/EN.BIR.THRD.NO?view=chart
/indicator/EN.ATM.CO2E.KT?view=chart
/indicator/EN.ATM.CO2E.PC?view=chart
/indicator/EG.EGY.PRIM.PP.KD?view=chart
/indicator/EN.FSH.THRD.NO?view=chart
/indicator/AG.LND.FRST.ZS?view=chart
/indicator/AG.LND.FRST.K2?view=chart
/indicator/AG.LND.TOTL.K2?view=chart
/indicator/AG.LND.EL5M.ZS?view=chart
/indicator/EN.MAM.THRD.NO?view=chart
/indicator/EN.ATM.METH.KT.CE?view=chart
/indicator/EN.ATM.NOXE.KT.CE?view=chart
/indicator/EN.ATM.PM25.MC.M3?view=chart
/indicator/EN.ATM.PM25.MC.ZS?view=chart
/indicator/EN.HPT.THRD.NO?view=chart
/indicator/EN.POP.EL5M.ZS?view=chart
/indicator/EN.POP.SLUM.UR.ZS?view=chart
/indicator/EG.ELC.RNEW.ZS?view=chart
/indicator/EG.FEC.RNEW.ZS?view=chart
/indicator/ER.H2O.INTR.PC?view=chart
/indicator/ER.H2O.INTR.K3?view=chart
/indicator/AG.SRF.TOTL.K2?view=chart
/indicator/ER.PTD.TOTL.ZS?view=chart
/indicator/EN.ATM.GHGT.KT.CE?view=chart
/indicator/NY.GDP.TOTL.RT.ZS?view=chart
/indicator/BN.CAB.XOKA.CD?view=chart
/indicator/DT.DOD.DECT.GN.ZS?view=chart
/indicator/DT.DOD.DPNG.CD?view=chart
/indicator/DT.DOD.DPPG.CD?view=chart
/indicator/DT.DOD.DSTC.CD?view=chart
/indicator/DT.DOD.DECT.CD?view=chart
/indicator/BX.KLT.DINV.CD.WD?view=chart
/indicator/BX.GRT.EXTA.CD.WD?view=chart
/indicator/DT.DOD.MWBG.CD?view=chart
/indicator/DT.ODA.ODAT.GN.ZS?view=chart
/indicator/DT.ODA.ODAT.PC.ZS?view=chart
/indicator/DT.ODA.ODAT.CD?view=chart
/indicator/BX.TRF.PWKR.CD.DT?view=chart
/indicator/DT.DOD.DSTC.IR.ZS?view=chart
/indicator/BX.GRT.TECH.CD.WD?view=chart
/indicator/DT.TDS.DECT.EX.ZS?view=chart
/indicator/FI.RES.TOTL.CD?view=chart
/indicator/DT.DOD.DIMF.CD?view=chart
/indicator/FB.ATM.TOTL.P5?view=chart
/indicator/FB.BNK.CAPA.ZS?view=chart
/indicator/FB.AST.NPER.ZS?view=chart
/indicator/FM.LBL.BMNY.GD.ZS?view=chart
/indicator/FM.LBL.BMNY.ZG?view=chart
/indicator/FB.CBK.BRCH.P5?view=chart
/indicator/FR.INR.DPST?view=chart
/indicator/IC.CRD.INFO.XQ?view=chart
/indicator/FS.AST.DOMS.GD.ZS?view=chart
/indicator/FS.AST.PRVT.GD.ZS?view=chart
/indicator/BX.KLT.DINV.CD.WD?view=chart
/indicator/FP.CPI.TOTL.ZG?view=chart
/indicator/FR.INR.LNDP?view=chart
/indicator/SM.POP.TOTL?view=chart
/indicator/FR.INR.LEND?view=chart
/indicator/CM.MKT.LDOM.NO?view=chart
/indicator/CM.MKT.LCAP.GD.ZS?view=chart
/indicator/CM.MKT.LCAP.CD?view=chart
/indicator/SM.POP.NETM?view=chart
/indicator/PA.NUS.FCRF?view=chart
/indicator/BX.TRF.PWKR.CD.DT?view=chart
/indicator/FR.INR.RINR?view=chart
/indicator/FR.INR.RISK?view=chart
/indicator/CM.MKT.INDX.ZG?view=chart
/indicator/CM.MKT.TRAD.GD.ZS?view=chart
/indicator/CM.MKT.TRNR?view=chart
/indicator/IC.LGL.CRED.XQ?view=chart
/indicator/FI.RES.TOTL.CD?view=chart
/indicator/SP.ADO.TFRT?view=chart
/indicator/SH.STA.BRTC.ZS?view=chart
/indicator/SL.TLF.0714.FE.ZS?view=chart
/indicator/SL.TLF.0714.MA.ZS?view=chart
/indicator/SE.PRM.UNER.FE?view=chart
/indicator/SE.PRM.UNER.MA?view=chart
/indicator/SP.DYN.CONU.ZS?view=chart
/indicator/SL.FAM.WORK.FE.ZS?view=chart
/indicator/SL.FAM.WORK.MA.ZS?view=chart
/indicator/SL.AGR.EMPL.FE.ZS?view=chart
/indicator/SL.AGR.EMPL.MA.ZS?view=chart
/indicator/SL.IND.EMPL.FE.ZS?view=chart
/indicator/SL.IND.EMPL.MA.ZS?view=chart
/indicator/SL.SRV.EMPL.FE.ZS?view=chart
/indicator/SL.SRV.EMPL.MA.ZS?view=chart
/indicator/SP.DYN.TFRT.IN?view=chart
/indicator/IC.FRM.FEMO.ZS?view=chart
/indicator/IC.FRM.FEMM.ZS?view=chart
/indicator/SE.PRM.GINT.FE.ZS?view=chart
/indicator/SE.PRM.GINT.MA.ZS?view=chart
/indicator/SL.TLF.CACT.FE.ZS?view=chart
/indicator/SL.TLF.CACT.MA.ZS?view=chart
/indicator/SL.TLF.TOTL.FE.ZS?view=chart
/indicator/SP.DYN.LE00.FE.IN?view=chart
/indicator/SP.DYN.LE00.MA.IN?view=chart
/indicator/SE.ADT.LITR.FE.ZS?view=chart
/indicator/SE.ADT.LITR.MA.ZS?view=chart
/indicator/SE.ADT.1524.LT.FE.ZS?view=chart
/indicator/SE.ADT.1524.LT.MA.ZS?view=chart
/indicator/SH.STA.MMRT?view=chart
/indicator/SG.NOD.CONS?view=chart
/indicator/SE.PRM.PRSL.FE.ZS?view=chart
/indicator/SE.PRM.PRSL.MA.ZS?view=chart
/indicator/SH.STA.ANVC.ZS?view=chart
/indicator/SH.HIV.1524.FE.ZS?view=chart
/indicator/SH.HIV.1524.MA.ZS?view=chart
/indicator/SE.PRM.CMPT.FE.ZS?view=chart
/indicator/SE.PRM.CMPT.MA.ZS?view=chart
/indicator/SE.SEC.PROG.FE.ZS?view=chart
/indicator/SE.SEC.PROG.MA.ZS?view=chart
/indicator/SG.GEN.PARL.ZS?view=chart
/indicator/SG.TIM.UWRK.FE?view=chart
/indicator/SG.TIM.UWRK.MA?view=chart
/indicator/SE.PRM.REPT.FE.ZS?view=chart
/indicator/SE.PRM.REPT.MA.ZS?view=chart
/indicator/SE.ENR.PRIM.FM.ZS?view=chart
/indicator/SE.ENR.PRSC.FM.ZS?view=chart
/indicator/SP.MTR.1519.ZS?view=chart
/indicator/SL.UEM.TOTL.FE.ZS?view=chart
/indicator/SL.UEM.TOTL.MA.ZS?view=chart
/indicator/SL.UEM.1524.FE.ZS?view=chart
/indicator/SL.UEM.1524.MA.ZS?view=chart
/indicator/SL.EMP.VULN.FE.ZS?view=chart
/indicator/SL.EMP.VULN.MA.ZS?view=chart
/indicator/SL.EMP.WORK.FE.ZS?view=chart
/indicator/SL.EMP.WORK.MA.ZS?view=chart
/indicator/SG.DMK.SRCR.FN.ZS?view=chart
/indicator/SP.ADO.TFRT?view=chart
/indicator/SP.POP.DPND?view=chart
/indicator/SP.DYN.CBRT.IN?view=chart
/indicator/SH.STA.BRTC.ZS?view=chart
/indicator/SH.DTH.COMM.ZS?view=chart
/indicator/SH.DTH.INJR.ZS?view=chart
/indicator/SH.DTH.NCOM.ZS?view=chart
/indicator/SP.REG.BRTH.ZS?view=chart
/indicator/SP.REG.DTHS.ZS?view=chart
/indicator/SP.DYN.CONU.ZS?view=chart
/indicator/SP.DYN.CDRT.IN?view=chart
/indicator/SH.STA.DIAB.ZS?view=chart
/indicator/SP.DYN.TFRT.IN?view=chart
/indicator/SH.MED.BEDS.ZS?view=chart
/indicator/SH.IMM.IDPT?view=chart
/indicator/SH.IMM.MEAS?view=chart
/indicator/SH.TBS.INCD?view=chart
/indicator/SM.POP.TOTL?view=chart
/indicator/SP.DYN.LE00.FE.IN?view=chart
/indicator/SP.DYN.LE00.MA.IN?view=chart
/indicator/SP.DYN.LE00.IN?view=chart
/indicator/SH.STA.MMRT?view=chart
/indicator/SH.STA.TRAF.P5?view=chart
/indicator/SP.DYN.IMRT.IN?view=chart
/indicator/SH.DYN.NMRT?view=chart
/indicator/SH.DYN.MORT?view=chart
/indicator/SM.POP.NETM?view=chart
/indicator/SH.SGR.PROC.P5?view=chart
/indicator/SP.POP.0014.TO.ZS?view=chart
/indicator/SP.POP.1564.TO.ZS?view=chart
/indicator/SP.POP.65UP.TO.ZS?view=chart
/indicator/SP.POP.GROW?view=chart
/indicator/SP.POP.TOTL.FE.ZS?view=chart
/indicator/SP.POP.TOTL?view=chart
/indicator/SH.STA.ANVC.ZS?view=chart
/indicator/SH.HIV.1524.FE.ZS?view=chart
/indicator/SH.HIV.1524.MA.ZS?view=chart
/indicator/SH.DYN.AIDS.ZS?view=chart
/indicator/SH.ANM.CHLD.ZS?view=chart
/indicator/SH.STA.OWGH.ZS?view=chart
/indicator/SH.SVR.WAST.ZS?view=chart
/indicator/SH.STA.STNT.ZS?view=chart
/indicator/SN.ITK.DEFC.ZS?view=chart
/indicator/SH.STA.MALN.ZS?view=chart
/indicator/SH.STA.WAST.ZS?view=chart
/indicator/SM.POP.REFG?view=chart
/indicator/SM.POP.REFG.OR?view=chart
/indicator/SH.SGR.CRSK.ZS?view=chart
/indicator/SH.SGR.IRSK.ZS?view=chart
/indicator/SH.MED.SAOP.P5?view=chart
/indicator/SP.MTR.1519.ZS?view=chart
/indicator/SP.UWT.TFRT?view=chart
/indicator/IS.AIR.DPRT?view=chart
/indicator/ER.H2O.FWTL.ZS?view=chart
/indicator/ER.H2O.FWTL.K3?view=chart
/indicator/IS.SHP.GOOD.TU?view=chart
/indicator/EG.USE.ELEC.KH.PC?view=chart
/indicator/IT.NET.BBND.P2?view=chart
/indicator/IT.MLT.MAIN.P2?view=chart
/indicator/IE.PPI.ENGY.CD?view=chart
/indicator/IE.PPI.TRAN.CD?view=chart
/indicator/IE.PPI.WATR.CD?view=chart
/indicator/IT.CEL.SETS.P2?view=chart
/indicator/IS.RRS.TOTL.KM?view=chart
/indicator/ER.H2O.INTR.PC?view=chart
/indicator/ER.H2O.INTR.K3?view=chart
/indicator/IT.NET.SECR.P6?view=chart
/indicator/SI.SPR.PC40.ZG?view=chart
/indicator/SI.SPR.PCAP.ZG?view=chart
/indicator/SI.POV.GINI?view=chart
/indicator/SI.DST.04TH.20?view=chart
/indicator/SI.DST.10TH.10?view=chart
/indicator/SI.DST.05TH.20?view=chart
/indicator/SI.DST.FRST.10?view=chart
/indicator/SI.DST.FRST.20?view=chart
/indicator/SI.DST.02ND.20?view=chart
/indicator/SI.DST.03RD.20?view=chart
/indicator/EN.POP.SLUM.UR.ZS?view=chart
/indicator/SI.POV.GAPS?view=chart
/indicator/SI.POV.NAGP?view=chart
/indicator/SI.POV.DDAY?view=chart
/indicator/SI.POV.NAHC?view=chart
/indicator/SI.POV.RUGP?view=chart
/indicator/SI.POV.RUHC?view=chart
/indicator/SI.SPR.PC40?view=chart
/indicator/SI.SPR.PCAP?view=chart
/indicator/SI.POV.URGP?view=chart
/indicator/SI.POV.URHC?view=chart
/indicator/IC.BUS.DISC.XQ?view=chart
/indicator/IC.CRD.INFO.XQ?view=chart
/indicator/FS.AST.PRVT.GD.ZS?view=chart
/indicator/IC.BUS.EASE.XQ?view=chart
/indicator/IC.FRM.BKWC.ZS?view=chart
/indicator/IC.FRM.FEMO.ZS?view=chart
/indicator/IC.FRM.FEMM.ZS?view=chart
/indicator/TX.VAL.FUEL.ZS.UN?view=chart
/indicator/TX.VAL.TECH.MF.ZS?view=chart
/indicator/TX.VAL.TECH.CD?view=chart
/indicator/ST.INT.XPND.MP.ZS?view=chart
/indicator/ST.INT.RCPT.XP.ZS?view=chart
/indicator/IE.PPI.ENGY.CD?view=chart
/indicator/IE.PPI.TRAN.CD?view=chart
/indicator/IE.PPI.WATR.CD?view=chart
/indicator/LP.EXP.DURS.MD?view=chart
/indicator/LP.IMP.DURS.MD?view=chart
/indicator/LP.LPI.OVRL.XQ?view=chart
/indicator/TX.VAL.MRCH.CD.WT?view=chart
/indicator/TM.VAL.MRCH.CD.WT?view=chart
/indicator/TG.VAL.TOTL.GD.ZS?view=chart
/indicator/TT.PRI.MRCH.XD.WD?view=chart
/indicator/IC.BUS.NREG?view=chart
/indicator/TX.VAL.MMTL.ZS.UN?view=chart
/indicator/IC.REG.PROC?view=chart
/indicator/IC.REG.PROC.FE?view=chart
/indicator/IC.REG.PROC.MA?view=chart
/indicator/IC.LGL.CRED.XQ?view=chart
/indicator/IC.ELC.TIME?view=chart
/indicator/IC.REG.DURS?view=chart
/indicator/IC.REG.DURS.FE?view=chart
/indicator/IC.REG.DURS.MA?view=chart
/indicator/IC.GOV.DURS.ZS?view=chart
/indicator/IC.TAX.TOTL.CP.ZS?view=chart
/indicator/IQ.CPA.ECON.XQ?view=chart
/indicator/IQ.CPA.SOCI.XQ?view=chart
/indicator/IQ.CPA.PUBS.XQ?view=chart
/indicator/IQ.CPA.STRC.XQ?view=chart
/indicator/GC.DOD.TOTL.GD.ZS?view=chart
/indicator/GC.XPN.TOTL.GD.ZS?view=chart
/indicator/IQ.CPA.IRAI.XQ?view=chart
/indicator/VC.IHR.PSRC.P5?view=chart
/indicator/MS.MIL.XPND.GD.ZS?view=chart
/indicator/MS.MIL.XPND.ZS?view=chart
/indicator/GC.AST.TOTL.GD.ZS?view=chart
/indicator/GC.LBL.TOTL.GD.ZS?view=chart
/indicator/GC.NFN.TOTL.GD.ZS?view=chart
/indicator/GC.NLD.TOTL.GD.ZS?view=chart
/indicator/SG.NOD.CONS?view=chart
/indicator/SG.GEN.PARL.ZS?view=chart
/indicator/GC.REV.XGRT.GD.ZS?view=chart
/indicator/IQ.SCI.OVRL?view=chart
/indicator/IC.LGL.CRED.XQ?view=chart
/indicator/GC.TAX.TOTL.GD.ZS?view=chart
/indicator/IC.TAX.TOTL.CP.ZS?view=chart
/indicator/BM.GSR.ROYL.CD?view=chart
/indicator/BX.GSR.ROYL.CD?view=chart
/indicator/TX.VAL.TECH.MF.ZS?view=chart
/indicator/TX.VAL.TECH.CD?view=chart
/indicator/IP.PAT.NRES?view=chart
/indicator/IP.PAT.RESD?view=chart
/indicator/GB.XPD.RSDV.GD.ZS?view=chart
/indicator/SP.POP.SCIE.RD.P6?view=chart
/indicator/IP.JRN.ARTC.SC?view=chart
/indicator/SP.POP.TECH.RD.P6?view=chart
/indicator/IP.TMK.NRES?view=chart
/indicator/IP.TMK.RESD?view=chart
/indicator/SP.ADO.TFRT?view=chart
/indicator/SL.TLF.0714.FE.ZS?view=chart
/indicator/SL.TLF.0714.MA.ZS?view=chart
/indicator/SL.TLF.0714.ZS?view=chart
/indicator/SL.TLF.CACT.FE.ZS?view=chart
/indicator/SL.TLF.CACT.MA.ZS?view=chart
/indicator/SP.DYN.LE00.FE.IN?view=chart
/indicator/SP.DYN.LE00.MA.IN?view=chart
/indicator/SH.HIV.1524.FE.ZS?view=chart
/indicator/SH.HIV.1524.MA.ZS?view=chart
/indicator/SG.GEN.PARL.ZS?view=chart
/indicator/SM.POP.REFG?view=chart
/indicator/SM.POP.REFG.OR?view=chart
/indicator/SE.ENR.PRIM.FM.ZS?view=chart
/indicator/SE.ENR.PRSC.FM.ZS?view=chart
/indicator/SL.UEM.TOTL.FE.ZS?view=chart
/indicator/SL.UEM.TOTL.MA.ZS?view=chart
/indicator/SL.EMP.VULN.FE.ZS?view=chart
/indicator/SL.EMP.VULN.MA.ZS?view=chart
/indicator/SL.TLF.0714.FE.ZS?view=chart
/indicator/SL.TLF.0714.MA.ZS?view=chart
/indicator/SL.TLF.0714.ZS?view=chart
/indicator/SL.FAM.WORK.FE.ZS?view=chart
/indicator/SL.FAM.WORK.MA.ZS?view=chart
/indicator/SL.AGR.EMPL.FE.ZS?view=chart
/indicator/SL.AGR.EMPL.MA.ZS?view=chart
/indicator/SL.IND.EMPL.FE.ZS?view=chart
/indicator/SL.IND.EMPL.MA.ZS?view=chart
/indicator/SL.SRV.EMPL.FE.ZS?view=chart
/indicator/SL.SRV.EMPL.MA.ZS?view=chart
/indicator/SL.EMP.TOTL.SP.ZS?view=chart
/indicator/SL.GDP.PCAP.EM.KD?view=chart
/indicator/SL.TLF.CACT.FE.ZS?view=chart
/indicator/SL.TLF.CACT.MA.ZS?view=chart
/indicator/SL.TLF.TOTL.FE.ZS?view=chart
/indicator/SL.TLF.TOTL.IN?view=chart
/indicator/SL.UEM.TOTL.FE.ZS?view=chart
/indicator/SL.UEM.TOTL.MA.ZS?view=chart
/indicator/SL.UEM.TOTL.ZS?view=chart
/indicator/SL.UEM.1524.FE.ZS?view=chart
/indicator/SL.UEM.1524.MA.ZS?view=chart
/indicator/SL.EMP.VULN.FE.ZS?view=chart
/indicator/SL.EMP.VULN.MA.ZS?view=chart
/indicator/SL.EMP.WORK.FE.ZS?view=chart
/indicator/SL.EMP.WORK.MA.ZS?view=chart
/indicator/EG.IMP.CONS.ZS?view=chart
/indicator/NE.EXP.GNFS.ZS?view=chart
/indicator/TX.VAL.FUEL.ZS.UN?view=chart
/indicator/TX.VAL.TECH.MF.ZS?view=chart
/indicator/TX.VAL.TECH.CD?view=chart
/indicator/NE.IMP.GNFS.ZS?view=chart
/indicator/ST.INT.XPND.MP.ZS?view=chart
/indicator/ST.INT.RCPT.XP.ZS?view=chart
/indicator/LP.EXP.DURS.MD?view=chart
/indicator/LP.IMP.DURS.MD?view=chart
/indicator/LP.LPI.OVRL.XQ?view=chart
/indicator/TX.VAL.MRCH.CD.WT?view=chart
/indicator/TM.VAL.MRCH.CD.WT?view=chart
/indicator/TG.VAL.TOTL.GD.ZS?view=chart
/indicator/TT.PRI.MRCH.XD.WD?view=chart
/indicator/TX.VAL.MMTL.ZS.UN?view=chart
/indicator/SH.STA.TRAF.P5?view=chart
/indicator/EN.ATM.PM25.MC.M3?view=chart
/indicator/EN.ATM.PM25.MC.ZS?view=chart
/indicator/EN.POP.DNST?view=chart
/indicator/EN.URB.LCTY.UR.ZS?view=chart
/indicator/EN.URB.MCTY.TL.ZS?view=chart
/indicator/EN.POP.SLUM.UR.ZS?view=chart

TypeError: 'NoneType' object is not subscriptable

In [18]:
# Transforming data by splitting and splicing

indicator_code_list = []
for indicator in indicator_list:
    slice_indicator = indicator[11:]
    split_indicator = slice_indicator.split("?")
    indicator_code = split_indicator[0]
    indicator_code_list.append(indicator_code)
    # print(indicator_code_list)

In [19]:
# Extracting XML API with for loops to transform it into...
# ... lists to fill a pandas DF

country_name = []
country_code = []
ind_code = []
year = []
value = []

for country in country_id:
    for indicator_code in indicator_code_list:   
        query_url = "http://api.worldbank.org/v2/country/" + country + "/indicator/" + indicator_code + "?date=" + date        
        r = requests.get(query_url)
        root = ET.fromstring(r.text)
        
        for child in root:
            country_name.append(child[1].text)
            country_code.append(child[2].text)
            ind_code.append(child[0].attrib["id"])
            year.append(child[3].text)
            value.append(child[4].text)

In [20]:
value_xml_df = pd.DataFrame({"country_name": country_name, 
                          "country_code": country_code,
                         "indicator_code": ind_code,
                         "value": value,
                         "year": year})

In [26]:
value_table1= value_xml_df.dropna()
value_table1

,country_name,country_code,indicator_code,value,year
7,United States,USA,AG.LND.AGRI.ZS,44.3690679995015,2016
14,United States,USA,NV.AGR.TOTL.ZS,0.91647931957252,2017
15,United States,USA,NV.AGR.TOTL.ZS,0.940404125890274,2016
19,United States,USA,AG.LND.ARBL.ZS,16.6454038406458,2016
23,United States,USA,AG.LND.ARBL.HA.PC,0.47129683201675,2016
...,...,...,...,...,...
6358,Russian Federation,RUS,SP.URB.TOTL,107349518,2017
6359,Russian Federation,RUS,SP.URB.TOTL,107050095,2016
6361,Russian Federation,RUS,SP.URB.TOTL.IN.ZS,74.433,2018
6362,Russian Federation,RUS,SP.URB.TOTL.IN.ZS,74.292,2017
6363,Russian Federation,RUS,SP.URB.TOTL.IN.ZS,74.164,2016

In [32]:
#Load Dataframe into databases
value_csv_df.to_sql(name='values', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "country_name" of relation "values" does not exist
LINE 1: INSERT INTO values (country_name, country_code, indicator_co...
                            ^

[SQL: INSERT INTO values (country_name, country_code, indicator_code, value, year) VALUES (%(country_name)s, %(country_code)s, %(indicator_code)s, %(value)s, %(year)s)]
[parameters: ({'country_name': 'China', 'country_code': 'CHN', 'indicator_code': 'SP.ADO.TFRT', 'value': 68.0332, 'year': 1960}, {'country_name': 'China', 'country_code': 'CHN', 'indicator_code': 'SP.POP.DPND', 'value': 77.32207237117, 'year': 1960}, {'country_name': 'China', 'country_code': 'CHN', 'indicator_code': 'SP.POP.DPND.OL', 'value': 6.47253502077037, 'year': 1960}, {'country_name': 'China', 'country_code': 'CHN', 'indicator_code': 'SP.POP.DPND.YG', 'value': 70.8495373503997, 'year': 1960}, {'country_name': 'China', 'country_code': 'CHN', 'indicator_code': 'NV.AGR.TOTL.ZS', 'value': 23.3836650652025, 'year': 1960}, {'country_name': 'China', 'country_code': 'CHN', 'indicator_code': 'NV.AGR.TOTL.KD', 'value': 40698086607.1251, 'year': 1960}, {'country_name': 'China', 'country_code': 'CHN', 'indicator_code': 'NV.AGR.TOTL.KN', 'value': 270777652400.0, 'year': 1960}, {'country_name': 'China', 'country_code': 'CHN', 'indicator_code': 'NV.AGR.TOTL.CN', 'value': 34070000000.0, 'year': 1960}  ... displaying 10 of 71267 total bound parameter sets ...  {'country_name': 'Russian Federation', 'country_code': 'RUS', 'indicator_code': 'IC.ISV.DURS', 'value': 2.0, 'year': 2015}, {'country_name': 'Russian Federation', 'country_code': 'RUS', 'indicator_code': 'IC.TAX.TOTL.CP.ZS', 'value': 47.0, 'year': 2015})]
(Background on this error at: http://sqlalche.me/e/f405)

In [35]:
value_table1.to_sql(name='values', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "country_name" of relation "values" does not exist
LINE 1: INSERT INTO values (country_name, country_code, indicator_co...
                            ^

[SQL: INSERT INTO values (country_name, country_code, indicator_code, value, year) VALUES (%(country_name)s, %(country_code)s, %(indicator_code)s, %(value)s, %(year)s)]
[parameters: ({'country_name': 'United States', 'country_code': 'USA', 'indicator_code': 'AG.LND.AGRI.ZS', 'value': '44.3690679995015', 'year': '2016'}, {'country_name': 'United States', 'country_code': 'USA', 'indicator_code': 'NV.AGR.TOTL.ZS', 'value': '0.91647931957252', 'year': '2017'}, {'country_name': 'United States', 'country_code': 'USA', 'indicator_code': 'NV.AGR.TOTL.ZS', 'value': '0.940404125890274', 'year': '2016'}, {'country_name': 'United States', 'country_code': 'USA', 'indicator_code': 'AG.LND.ARBL.ZS', 'value': '16.6454038406458', 'year': '2016'}, {'country_name': 'United States', 'country_code': 'USA', 'indicator_code': 'AG.LND.ARBL.HA.PC', 'value': '0.47129683201675', 'year': '2016'}, {'country_name': 'United States', 'country_code': 'USA', 'indicator_code': 'AG.YLD.CREL.KG', 'value': '8280.8', 'year': '2017'}, {'country_name': 'United States', 'country_code': 'USA', 'indicator_code': 'AG.YLD.CREL.KG', 'value': '8144.6', 'year': '2016'}, {'country_name': 'United States', 'country_code': 'USA', 'indicator_code': 'AG.PRD.CROP.XD', 'value': '122.19', 'year': '2016'}  ... displaying 10 of 2861 total bound parameter sets ...  {'country_name': 'Russian Federation', 'country_code': 'RUS', 'indicator_code': 'SP.URB.TOTL.IN.ZS', 'value': '74.292', 'year': '2017'}, {'country_name': 'Russian Federation', 'country_code': 'RUS', 'indicator_code': 'SP.URB.TOTL.IN.ZS', 'value': '74.164', 'year': '2016'})]
(Background on this error at: http://sqlalche.me/e/f405)

In [33]:
ind_df.to_sql(name='indicators', con=engine, if_exists='append', index=False)

In [34]:
countries.to_sql(name='countries', con=engine, if_exists='append', index=False)